.paging-container {
    margin-top: 5px;
    margin-bottom: 5px;

    .page-item {
        width: 30px;
        height: 30px;
        border: .5px solid #E1E0FF;
        margin-right: 5px;
        cursor: pointer;

        &.disabled {
            color: #e1e0ff;
            cursor: not-allowed;
        }

        &:hover {
            background-color: #E1E0FF;
        }
    }
}

.form-select-filter {
    position: relative;
    padding: 0.5rem 0.9rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;

    .close-button {
        position: absolute;
        right: 10px;
        cursor: pointer;
    }

    input {
        margin: 5px 10px;
        width: calc(100% - 19px);
        outline: 0;
        border: 0;
        padding-left: 10px;
    }

    .popup-menu {
        position: absolute;
        width: 100%;
        background: white;
        top: 35px;
        left: 0;
        z-index: 2;
        border: 1px solid #ced4da;

        ul {
            list-style: none;
            padding-left: 10px;

            li {
                padding: 8px;
            }
        }
    }
}