.title-filter{
    font-family: 'Poppins';
    font-weight: 600;
    color: black;
    font-size: 21px;
}

.nav-beranda{
    padding: 10px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
