.title-filter{
    font-family: 'Poppins';
    font-weight: 600;
    color: black;
    font-size: 21px;
}

.nav-beranda{
    padding: 10px;
}

// .nav-item {
//     .nav-link {
//         // color: rgba($white, 0.75);

//         &.active {
//             // color: $white;
//             // background-color: rgba($white, 0.1);
//         }
//     }
// }

// &.nav-custom-light {
//     .nav-item {
//         .nav-link {
//             // color: rgba(var(--#{$prefix}body-rgb), 0.75);

//             &.active {
//                 // color: $light;
//                 // background-color: $primary;
//             }
//         }
//     }
// }

