.card-custom {
    border-radius: 15px;
}

.title-page{ 
    font-style: "Poppins";
    font-weight: 600;
    font-size: 21px;
    padding: 13px 0 13px 13px;
}

.separator{
    border-bottom: 1px solid #929FB140;
    padding:10px;
}

.separator-vertical{
    border-bottom: 1px solid #929FB140;
    padding:10px;
    transform: rotate(90deg);
    height: 100%;
}

.title-custom-card{
    padding: 5px 0 5px 0;
    font-family: "Poppins";
    .title-card{
        font-weight: 500;
        font-size: 13px;
        color: #929FB1;
    }
    .title-body{
        font-size: 20px;
        color: #404C5A;
        font-weight: 600;
    }
    .title-percent{
        color:#13C56B
    }
}

.leaflet-container {
    background-color: white !important;
}
